/* .project-container{
  display: flex;
  height: 100vh;
}
.card1{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    position: relative;
    height: 300px;
    width: 600px;
    border-radius: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
    .project1{
    position: absolute;
    background: #e0e0e0;
    box-shadow: -12px 12px 5px #bebebe,
    12px -12px 5px #ffffff;
    
  }
  div.project1 > a{
    position: absolute;
    border-radius: 47px;
    background: #e0e0e0;
    box-shadow: -12px 12px 5px #bebebe,
                12px -12px 5px #ffffff;
  } */

body{
    margin: 0;
    padding: 0;

}  
.skill-container{
    box-sizing: border-box;
    display: flex;
    background-color: transparent;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.list-container{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: transparent;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
                "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
                "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.Skill{
    
    margin: 25px;
    padding: 25px;
    height: 200px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: -12px 12px 5px #bebebe,
                12px -12px 5px #ffffff;
}
.project-container{
    box-sizing: border-box;
    display: flex;
    background-color: transparent;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
}
.card{
    margin: 25px;
    padding: 25px;
    height: 250px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: -12px 12px 5px #bebebe,
                12px -12px 5px #ffffff;
}
.card1 {
    flex-grow: 3;
}
.card2 {
    flex-grow: 1;
    width: 400px;
    justify-items: center;
    text-align: center;
    justify-content: center;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
                "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
                "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
article > h1{
    font-size: 30px;
}
card2-footer{
    bottom: 0;
}